{% extends 'base.html.twig' %}

{% block title %}Hello IngredientController!{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{{ form_start(form) }}
<h1 class='text-center m-5'>Ajouter un ingredients</h1>


<div class='d-flex flex-wrap justify-content-around'>
    <div class='card text-white bg-primary w-50 h-50'>

    <form class='w-50 h-50'>
    
    <fieldset>
        <legend>Formulaire ajout ingredient :</legend>
        <div class="form-group row">
        {{ form_label(form.name_ingredient) }}
        </div>
        <div class="col-sm-10">
        {{form_widget(form.name_ingredient)}}
      </div>

        <div class="form-group row">
        {{ form_label(form.img_ingredient) }}
        </div>
        <div class="col-sm-10">
        {{form_widget(form.img_ingredient)}}
      </div>

        <div class="form-group row">
        {{ form_label(form.qtx_ingredient) }}
        </div>
        <div class="col-sm-10">
        {{form_widget(form.qtx_ingredient)}}
      </div>

        <div class="form-group">
        {{ form_label(form.desc_ingredient) }}
        {{form_widget(form.desc_ingredient)}}
        </div>
        {{ form_rest(form) }}
        </fieldset>
        <button type="submit" class="btn btn-light">créer</button>
    </fieldset>
    </form>     
    </div>
</div>
{{ form_end(form) }}
{% endblock %}
